:root{
    --font: Arial;
}



header{
    position: relative;
    height: 41px;
    width: 100%;
    
}

header div {
    position: absolute;
    right: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-areas: "links apps";
}

header div  div{
    top: 0%;
    height: 100%;    
}

.groupLink{
    grid-area: links;
    transform: translateX(-55px);
}


.groupApp{
    grid-area: apps;
    justify-items: center;
}

.links{
    align-self: center;
    position: relative;
    color: black;
    text-decoration: none;
    font-family: var(--font);
    font-size: 13px;
}

.links:hover {
    text-decoration: underline;
}

.apps{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    align-self: center;
}

#profile img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    
}

#profile {
    border-radius: 50%;
}

#profile::before{
    content: "";
    position: absolute;
    padding: 15px;
    border-radius: 50%;
    background-color: #F0F0F0;
    z-index: -1;

}


#profile:hover::before{
        transform: scale(1.2);
}


#app{
    color: #5f6368;
    fill: currentColor;
    border-radius: 50%;
    padding: 4px;
}

#app:hover{
    background-color: #F0F0F0;
}

svg {
    transform: scale(0.80);
}

.main{
    position: relative;
    height: 300px;
    width: 100%;
}

.main > * {
    position: absolute;
}

.googlelogo{
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form{
    display: grid;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

#searchbar{
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    width: 70%;
    margin: 0 auto;
    padding-left: 20px;
}

#mic{
    position: absolute;
    height: 23px;
    width: 15px;
    right: 16%;
    top: 12%;
}

#searchicon{
    position: absolute;
    left: 15%;
    top: 12%;
}

#searchbar:focus-visible{
    outline: none;
}



.button{
    transform: translateX(30%);
}

.searchbutton{
    padding: 0 16px;
    margin: 11px 4px;
    color: #3c4043;
    font-size: 14px;
    height: 36px;
    background-color: #F8F9FA;
    border-radius: 5px;
    border-color: #F8F9FA;
    border: 1px solid #f8f9fa;
}

.searchbutton:hover{
    box-shadow: 0 0.5px 0.5px rgb(0 0 0 / 10%);
    border: 1px solid #dadce0;
    color: #202124;
}

#searchbar:hover{
    box-shadow: 0px 1px 6px rgb(0 0 0 / 10%);
    border: 1px solid #dadce0;
}

footer{
    background-color: #F2F2F2;
    position: absolute;
    bottom: 0%;
    width: 100%;
    right: 0%;
    font-family: var(--font);

}

.country{
    border-bottom: 1px solid #DDDDDD;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.aboutus{
    margin-left: 2%;
}

.aboutconsumer{
    margin-right: 2%;
}

.aboutus > a, .aboutconsumer > a{
    padding-right: 10px;
}

.carbone{
    margin-left: 200px;
    margin-right: 200px;
}

.carbone > img{
    height: 14px;
}