:root{
    --font: Arial;
}

header{
    position: relative;
    height: 41px;
    width: 100%;
}

header div {
    position: absolute;
    right: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-areas: "links apps";
}

header div  div{
    top: 0%;
    height: 100%;    
}

.groupLink{
    grid-area: links;
    transform: translateX(-55px);
}

.groupApp{
    grid-area: apps;
    justify-items: center;
}

.links{
    align-self: center;
    position: relative;
    color: black;
    text-decoration: none;
    font-family: var(--font);
    font-size: 13px;
}

.apps{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 0;
    align-self: center;
}

#profile img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}


#app{
    color: #5f6368;
    fill: currentColor;
    border-radius: 50%;
}

#app:hover{
    background-color: #F0F0F0;
}